In [1]:
import pandas as pd

In [8]:
# 날짜를 범위를 줘서 생성하는 함수 date_range
dates = pd.date_range('20190301', periods = 6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [4]:
import numpy as np

In [10]:
# pd로 데이터프레임 생성
# np로 랜덤값을 생성. randn으로 행과 열의 범위 지정
# 날짜로 인덱싱
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409
2019-03-04 -1.498462  0.541904 -1.672913  1.004341
2019-03-05  0.523627 -0.594493  1.873791  1.682499
2019-03-06  1.338193  0.000356 -0.719065 -0.337158

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.index

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
# 배열에 배열이 들어가서 옴 = 2차원 배열
df.values

array([[ 7.60034783e-01,  1.87664002e+00,  6.83110423e-01,
        -1.50967664e+00],
       [-2.50446774e-01,  9.99833223e-01, -9.04068551e-01,
         1.23860619e+00],
       [-9.66186075e-01, -9.11133739e-01, -1.99659475e+00,
         1.12040871e+00],
       [-1.49846199e+00,  5.41904232e-01, -1.67291308e+00,
         1.00434060e+00],
       [ 5.23627472e-01, -5.94492935e-01,  1.87379131e+00,
         1.68249930e+00],
       [ 1.33819322e+00,  3.55886429e-04, -7.19064760e-01,
        -3.37157646e-01]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.015540  0.318851 -0.455957  0.533170
std    1.084691  1.038142  1.473077  1.209640
min   -1.498462 -0.911134 -1.996595 -1.509677
25%   -0.787251 -0.445781 -1.480702 -0.001783
50%    0.136590  0.271130 -0.811567  1.062375
75%    0.700933  0.885351  0.332567  1.209057
max    1.338193  1.876640  1.873791  1.682499

In [17]:
df.sort_values(by='A') # A기준으로 오름차순으로 정렬

                   A         B         C         D
2019-03-04 -1.498462  0.541904 -1.672913  1.004341
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-05  0.523627 -0.594493  1.873791  1.682499
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-06  1.338193  0.000356 -0.719065 -0.337158

In [18]:
df.sort_values(by='A', ascending=False) # A기준으로 내림차순으로 정렬

                   A         B         C         D
2019-03-06  1.338193  0.000356 -0.719065 -0.337158
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-05  0.523627 -0.594493  1.873791  1.682499
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409
2019-03-04 -1.498462  0.541904 -1.672913  1.004341

In [19]:
df['A']

2019-03-01    0.760035
2019-03-02   -0.250447
2019-03-03   -0.966186
2019-03-04   -1.498462
2019-03-05    0.523627
2019-03-06    1.338193
Freq: D, Name: A, dtype: float64

In [20]:
df.A

2019-03-01    0.760035
2019-03-02   -0.250447
2019-03-03   -0.966186
2019-03-04   -1.498462
2019-03-05    0.523627
2019-03-06    1.338193
Freq: D, Name: A, dtype: float64

In [21]:
# series = 객체를 생성함.
# 시리즈가 모여서 데이터프레임이 만들어 지는 것. 배열로 만들어지지 않음
# 부품을 만들어야 처리하는것이 편하기 때문에 배열이 아닌 시리즈로 처리
type(df.A)

pandas.core.series.Series

In [22]:
type(df['A'])

pandas.core.series.Series

In [24]:
df[0:3]  #df[0]은 인덱싱이 안되지만 슬라이싱은 가능 행을 슬라이싱
# : 의 의미는 ~부터라는 뜻

                   A         B         C         D
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409

In [26]:
df.iloc[0:3] # 슬라이싱 두번째 방법.

                   A         B         C         D
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409

In [30]:
df.iloc[0:3, 1:3]  #iloc는 열도 지정 가능

                   B         C
2019-03-01  1.876640  0.683110
2019-03-02  0.999833 -0.904069
2019-03-03 -0.911134 -1.996595

In [31]:
df.loc['2019-03-01'] #행추출, 행에 해당하는 모든 열이 추출

A    0.760035
B    1.876640
C    0.683110
D   -1.509677
Name: 2019-03-01 00:00:00, dtype: float64

In [32]:
df.loc['2019-03-01', 'A']

0.7600347826178957

In [36]:
df.loc['2019-03-01', ['A','C']]  #loc, iloc[행]

A    0.760035
C    0.683110
Name: 2019-03-01 00:00:00, dtype: float64

In [37]:
# df.loc[행]
# df.loc[행,열]
# df.loc[,열]

In [38]:
df.loc[:, 'A']

2019-03-01    0.760035
2019-03-02   -0.250447
2019-03-03   -0.966186
2019-03-04   -1.498462
2019-03-05    0.523627
2019-03-06    1.338193
Freq: D, Name: A, dtype: float64

In [39]:
df.loc[:,['A','C']]  #행은 조건없이 모두 출력할 때

                   A         C
2019-03-01  0.760035  0.683110
2019-03-02 -0.250447 -0.904069
2019-03-03 -0.966186 -1.996595
2019-03-04 -1.498462 -1.672913
2019-03-05  0.523627  1.873791
2019-03-06  1.338193 -0.719065

In [40]:
# 범위를 줄땐 대괄호안에 리스트로 넣어주지 않는다.
df.loc[:,'A':'C']

                   A         B         C
2019-03-01  0.760035  1.876640  0.683110
2019-03-02 -0.250447  0.999833 -0.904069
2019-03-03 -0.966186 -0.911134 -1.996595
2019-03-04 -1.498462  0.541904 -1.672913
2019-03-05  0.523627 -0.594493  1.873791
2019-03-06  1.338193  0.000356 -0.719065

In [41]:
df.iloc[0]

A    0.760035
B    1.876640
C    0.683110
D   -1.509677
Name: 2019-03-01 00:00:00, dtype: float64

In [42]:
df.shape  # 행의 인덱스는 0~5 , 열은 0~3

(6, 4)

In [48]:
df.iloc[0:6,0:4]   #슬라이싱 범위 = 행은 0~5, 열은 0~3

                   A         B         C         D
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409
2019-03-04 -1.498462  0.541904 -1.672913  1.004341
2019-03-05  0.523627 -0.594493  1.873791  1.682499
2019-03-06  1.338193  0.000356 -0.719065 -0.337158

In [49]:
imsi = df.iloc[3:5]  #iloc, loc는 비파괴, 원본을 변경시키지않고 일부만 추출
imsi #일ㄹ부 추출한 결과를 가지고 여러가지 처리를 하고자 하는경우 변수에 넣어주어야 함

                   A         B         C         D
2019-03-04 -1.498462  0.541904 -1.672913  1.004341
2019-03-05  0.523627 -0.594493  1.873791  1.682499

In [50]:
df.iloc[:] #모든 행 검색

                   A         B         C         D
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409
2019-03-04 -1.498462  0.541904 -1.672913  1.004341
2019-03-05  0.523627 -0.594493  1.873791  1.682499
2019-03-06  1.338193  0.000356 -0.719065 -0.337158

In [51]:
df.iloc[4:] #4부터 끝까지. (4~5)

                   A         B         C         D
2019-03-05  0.523627 -0.594493  1.873791  1.682499
2019-03-06  1.338193  0.000356 -0.719065 -0.337158

In [52]:
df.iloc[:4] #0부터 3으로 끝까지. (0~3)

                   A         B         C         D
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-02 -0.250447  0.999833 -0.904069  1.238606
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409
2019-03-04 -1.498462  0.541904 -1.672913  1.004341

In [53]:
df.iloc [ : , 0] #모든 행, 0열(A컬럼) 추출

2019-03-01    0.760035
2019-03-02   -0.250447
2019-03-03   -0.966186
2019-03-04   -1.498462
2019-03-05    0.523627
2019-03-06    1.338193
Freq: D, Name: A, dtype: float64

In [55]:
df.A.dtype  #열에 대한 타입. 확인
#data type = dtype

dtype('float64')

In [56]:
df.iloc[:3,1:4]

                   B         C         D
2019-03-01  1.876640  0.683110 -1.509677
2019-03-02  0.999833 -0.904069  1.238606
2019-03-03 -0.911134 -1.996595  1.120409

In [57]:
#일부분을 추출하고자 하는 경우 리스트를 써라

In [62]:
df.iloc[[0,2,4,5],[0,3]]

                   A         D
2019-03-01  0.760035 -1.509677
2019-03-03 -0.966186  1.120409
2019-03-05  0.523627  1.682499
2019-03-06  1.338193 -0.337158

In [64]:
df['A'] > 0  #모든 행들에 대해 비교 연산을 수행

2019-03-01     True
2019-03-02    False
2019-03-03    False
2019-03-04    False
2019-03-05     True
2019-03-06     True
Freq: D, Name: A, dtype: bool

In [65]:
df[df['A'] > 0]  #df[검색할 조건], 검색할 조건은 비교연산자

                   A         B         C         D
2019-03-01  0.760035  1.876640  0.683110 -1.509677
2019-03-05  0.523627 -0.594493  1.873791  1.682499
2019-03-06  1.338193  0.000356 -0.719065 -0.337158

In [68]:
# 파생변수 : 추가한 열 (기존 열이 아니라 만들어 내는 것)
# df['파생변수이름'] = 값(리스트형태)
df['E'] = 0

In [69]:
df

                   A         B         C         D  E
2019-03-01  0.760035  1.876640  0.683110 -1.509677  0
2019-03-02 -0.250447  0.999833 -0.904069  1.238606  0
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409  0
2019-03-04 -1.498462  0.541904 -1.672913  1.004341  0
2019-03-05  0.523627 -0.594493  1.873791  1.682499  0
2019-03-06  1.338193  0.000356 -0.719065 -0.337158  0

In [70]:
df['F'] = [100,200,300,400,500,600]
df

                   A         B         C         D  E    F
2019-03-01  0.760035  1.876640  0.683110 -1.509677  0  100
2019-03-02 -0.250447  0.999833 -0.904069  1.238606  0  200
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409  0  300
2019-03-04 -1.498462  0.541904 -1.672913  1.004341  0  400
2019-03-05  0.523627 -0.594493  1.873791  1.682499  0  500
2019-03-06  1.338193  0.000356 -0.719065 -0.337158  0  600

In [71]:
df['G'] = np.nan  #nan = null과 비슷한것?
# 브로드캐스팅: 특정한 연산 결과 혹은 값이 collection전체에 영향을 미치는 것.

In [73]:
df

                   A         B         C         D  E    F   G
2019-03-01  0.760035  1.876640  0.683110 -1.509677  0  100 NaN
2019-03-02 -0.250447  0.999833 -0.904069  1.238606  0  200 NaN
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409  0  300 NaN
2019-03-04 -1.498462  0.541904 -1.672913  1.004341  0  400 NaN
2019-03-05  0.523627 -0.594493  1.873791  1.682499  0  500 NaN
2019-03-06  1.338193  0.000356 -0.719065 -0.337158  0  600 NaN

In [75]:
df.loc['2019-03-02','E']

0.0

In [76]:
df.loc['2019-03-02','E'] = 2
df

                   A         B         C         D  E    F   G
2019-03-01  0.760035  1.876640  0.683110 -1.509677  0  100 NaN
2019-03-02 -0.250447  0.999833 -0.904069  1.238606  2  200 NaN
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409  0  300 NaN
2019-03-04 -1.498462  0.541904 -1.672913  1.004341  0  400 NaN
2019-03-05  0.523627 -0.594493  1.873791  1.682499  0  500 NaN
2019-03-06  1.338193  0.000356 -0.719065 -0.337158  0  600 NaN

In [77]:
# 파생변수에 기존변수 값을 더한 값 넣어주기
df['H'] = df['A'] + df['B']
df

                   A         B         C         D  E    F   G         H
2019-03-01  0.760035  1.876640  0.683110 -1.509677  0  100 NaN  2.636675
2019-03-02 -0.250447  0.999833 -0.904069  1.238606  2  200 NaN  0.749386
2019-03-03 -0.966186 -0.911134 -1.996595  1.120409  0  300 NaN -1.877320
2019-03-04 -1.498462  0.541904 -1.672913  1.004341  0  400 NaN -0.956558
2019-03-05  0.523627 -0.594493  1.873791  1.682499  0  500 NaN -0.070865
2019-03-06  1.338193  0.000356 -0.719065 -0.337158  0  600 NaN  1.338549